[submodule "containerfiles/device/cuse"]
	path = containerfiles/device/cuse
	url = https://github.com/htlweiz/rdp_cuse
[submodule "volumes.skel/workspace/gui"]
	path = volumes.skel/workspace/gui
	url = git@github.com:mderler/rdp_gui.git
[submodule "volumes.skel/workspace/api"]
	path = volumes.skel/workspace/api
	url = git@github.com:mderler/rdp_api.git
